email="szdralje@gmail.com"

profiles {

		debug {

			params {
				base_input_dir = "/projects/b1059/projects/Stefan/CePopGen-nf/input_files"
				snv_vcf = "${base_input_dir}/330_TEST.vcf.gz"
				sv_vcf = "${base_input_dir}/Ce330_MERGED_SV.vcf.gz"
				pops = "${base_input_dir}/strain_sets_admixture.tsv"
				admix_k = 10
				admix_ld = 0.1

				genome = "WS245"
				reference = "/projects/b1059/data/genomes/c_elegans/${genome}/${genome}.fa"

				vcfanno_config = "${base_input_dir}/ANNOTATION_conf.toml"

				popgenome_window = 10000
				popgenome_slide = 1000

				gff = "${base_input_dir}/Popgenome_files/WS245_exons.gff"

				eigen_par_outlier_removal = "/projects/b1059/projects/Stefan/CePopGen-nf/bin/eigpar"
				eigen_par_no_removal = "/projects/b1059/projects/Stefan/CePopGen-nf/bin/eigpar_no_removal"

				raisd = "/projects/b1059/software/RAiSD/raisd-master/bin/release/RAiSD"
		}
	}

		quest {

			params {
				base_input_dir = "/projects/b1059/projects/Stefan/CePopGen-nf/input_files"
				snv_vcf = "${base_input_dir}/Ce330_GATK4_STRELKA2_Intersect.vcf.gz"
				sv_vcf = "${base_input_dir}/Ce330_MERGED_SV.vcf.gz"
				pops = "${base_input_dir}/strain_sets_admixture.tsv"
				admix_k = 10
				admix_ld = 0.1

				genome = "WS245"
				reference = "/projects/b1059/data/genomes/c_elegans/${genome}/${genome}.fa"

				vcfanno_config = "${base_input_dir}/ANNOTATION_conf.toml"

				popgenome_window = 10000
				popgenome_slide = 1000

				gff = "${base_input_dir}/Popgenome_files/WS245_exons.gff"
				
				eigen_par_outlier_removal = "/projects/b1059/projects/Stefan/CePopGen-nf/bin/eigpar"
				eigen_par_no_removal = "/projects/b1059/projects/Stefan/CePopGen-nf/bin/eigpar_no_removal"

				raisd = "/projects/b1059/software/RAiSD/raisd-master/bin/release/RAiSD"
		}

	}

}

process.cache = 'deep'